<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984807835470-855qlch695a8569q8v9ki1ue1g8utr7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984807835470-855qlch695a8569q8v9ki1ue1g8utr7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBEU4UAwMyx21RkFJRNHYEGfnH2TRW6ui4</string>
	<key>GCM_SENDER_ID</key>
	<string>984807835470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juhoon.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-d01c1</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-d01c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984807835470:ios:00da35c1c8f79ef2b5001f</string>
</dict>
</plist>